aiohappyeyeballs
aiohttp
aiohttp-cors
aiosignal
annotated-types
anyio
asttokens
attrs
cachetools
certifi
charset-normalizer
click
colorful
comm
contourpy
cycler
datasets
debugpy
decorator
deepspeed
dill
distlib
einops
exceptiongroup
executing
fastapi
filelock
fonttools
frozenlist
fsspec
google-api-core
google-auth
googleapis-common-protos
grpcio
h11
hf-xet
hjson
httptools
huggingface-hub
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
lightning-utilities
MarkupSafe
matplotlib
matplotlib-inline
mpmath
msgpack
multidict
multiprocess
nest_asyncio
networkx
ninja
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-ml-py
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
opencensus
opencensus-context
opentelemetry-api
opentelemetry-exporter-prometheus
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
packaging
pandas
parso
pexpect
pickleshare
pillow
pip
platformdirs
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure_eval
py-cpuinfo
py-spy
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
ray
referencing
regex
requests
rpds-py
rsa
safetensors
setuptools
six
smart_open
sniffio
stack_data
starlette
sympy
tensorboardX
tokenizers
torch
torchmetrics
torchvision
tornado
tqdm
traitlets
transformers
triton
typing_extensions
typing-inspection
tzdata
urllib3
uvicorn
uvloop
virtualenv
watchfiles
wcwidth
websockets
wheel
wrapt
xxhash
yarl
zipp
